@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-black;
}

h1 {
  @apply text-[2.4rem] md:text-[3.2rem] lg:text-[3.6rem];
}
h2 {
  @apply text-[2rem] md:text-[2.8rem] lg:text-[3.2rem];
}
h3 {
  @apply text-[1.8rem] md:text-[2.4rem] lg:text-[2.8rem];
}
h4 {
  @apply text-[1.4rem] md:text-[2rem] lg:text-[2.4rem];
}
h5 {
  @apply text-[1.2rem] md:text-[1.8rem] lg:text-[2rem];
}
h6 {
  @apply font-bold text-black;
}

.font-gab {
  font-family: "Gabarito", sans-serif !important;
}
.font-mon {
  font-family: "Montserrat", sans-serif !important;
}

p {
  @apply font-medium font-gab;
}

.flex-center {
  @apply flex justify-center items-center;
}

/* Nav Search Bar */
.search-bar::after {
  @apply absolute content-[""] w-full h-full bg-orange-1 -z-10 -bottom-3.5 left-0 rounded-xl;
}
